<div class="auth-card">
  <h2>Register</h2>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <div>
      <label for="userName">userName</label>
      <input id="userName" formControlName="userName" />
       <div *ngIf="form.get('userName')?.touched && form.get('userName')?.invalid">
        <small *ngIf="form.get('userName')?.errors?.['required']" style="color: red;">userName required</small>
      </div>
    </div>

    <div>
      <label for="email">Email</label>
      <input id="email" formControlName="email" type="email" />
      <div *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
        <small *ngIf="form.get('email')?.errors?.['required']" style="color: red;">Email required</small>
        <small *ngIf="form.get('email')?.errors?.['email']" style="color: red;">Invalid email</small>
      </div>
    </div>

    <div>
      <label for="password">Password</label>
      <input id="password" formControlName="password" type="password" />
       <div *ngIf="form.get('password')?.touched && form.get('password')?.invalid">
        <small *ngIf="form.get('password')?.errors?.['required']" style="color: red;">password required</small>
      </div>
    </div>

    <div>
      <label for="confirmPassword">Confirm Password</label>
      <input id="confirmPassword" formControlName="confirmPassword" type="password" />
      <div *ngIf="form.get('confirmPassword')?.touched && form.get('confirmPassword')?.invalid">
        <small *ngIf="form.get('confirmPassword')?.errors?.['required']" style="color: red;">Confirm password required</small>
        <small *ngIf="passwordmismatch"  style="color: red;" >confirm Passwod should same with password</small>
      </div>
    </div>

    <div *ngIf="error" class="error">{{ error }}</div>
    <br>
    <button type="submit" >Register</button>
  </form>

  <p>Already have an account? <a routerLink="/login">Login</a></p>
</div>
