<nav class="sidebar">
  <h2 class="logo">Admin</h2>

  <ul>
    <li><a routerLink="/home" routerLinkActive="active">Dashboard</a></li>
    <li><a routerLink="/products" routerLinkActive="active">Products</a></li>
    <li><a routerLink="/categories" routerLinkActive="active">Categories</a></li>
    <li><a routerLink="/customers" routerLinkActive="active">Customers</a></li>
    <li><a routerLink="/orders" routerLinkActive="active">Orders</a></li>
    <li><a routerLink="/roles" routerLinkActive="active">Roles</a></li>
    <li><a routerLink="/users" routerLinkActive="active">Users</a></li>
  </ul>
</nav>
